<!DOCTYPE html>

<html>
    <head>
        <title>Cantique</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>        
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body class="container-fluid">
	    
           <div id="id01" class="modal container-fluid">
             
            <form name="formulaire" class="modal-content animate text-center" action="/refrain" method="get" onsubmit=" return check()">
                <div class="imgcontainer">
                    <span onclick="document.getElementById('id01').style.display = 'none'" class="close" title="Close Modal">&times;</span>
                    <i class="fa fa-music fa-5x" aria-hidden="true"></i>
                </div>
                  <div id="erreur" >
                      
                    </div>
                <div class="" id="">
                 <h4> le cantique a - il de refrain ?</h4>
                   <label>avec refrain: </label><input type="radio" name="refrain" value="1"> <br>
	           <label>sans refrain : </label> <input type="radio" name="refrain" value="0">
                  <h4> le cantique a combien de couplet ?</h4>
                    <input type="numeric" name="nombre" placeholder=" nombre de couplet :">                   
                    
                </div>

                <div class="" >
                    <button type="submit" >login</button>                    
                </div>
              </form>
             </div>
	</body>
        <script>
            $(document).ready(function () {
                document.getElementById('id01').style.display = 'block';//style="width:auto;
                var modal = document.getElementById('id01');

                // When the user clicks anywhere outside of the modal, close it
                window.onclick = function (event) {
                    if (event.target === modal) {
                        modal.style.display = "none";
                    }
                };

            });
            // Get the modal
            function check(){
                var refrain = document.forms["formulaire"]["refrain"];
                var nombre = document.forms['formulaire']["nombre"];
               
                if (!refrain[0].checked && !refrain[1].checked) {
                   
                    var erreur = document.getElementById("erreur");
                    erreur.innerHTML = '<div class="alert alert-danger"> Erreur: refrain non choisi. </div>';
                    return false;
                }else if(nombre.value.trim() == ""){
                    var erreur = document.getElementById("erreur");
                    erreur.innerHTML = '<div class="alert alert-danger"> Erreur: nombre de couplet non inscrit. </div>';
                    return false;
                }else{
                     return true;
                }
            }


        </script>

             <style>
            form{
                padding: 2px;
                 background-image: url("/pictures/compte.jpg") ;    
            }

            
            .modal {
                display: none; /* Hidden by default */
                position: fixed; /* Stay in place */
                z-index: 1; /* Sit on top */
                left: 0;
                top: 0;
                width: 100%; /* Full width */
                height: 100%; /* Full height */
                overflow: auto; /* Enable scroll if needed */
                background-color: rgb(0,0,0); /* Fallback color */
                background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
                padding-top: 60px;
            }
            /* Full-width input fields */
            input[type=text], input[type=password] {
                width: 100%;
                padding: 12px 20px;
                margin: 8px 0;
                display: inline-block;
                border: 1px solid #ccc;
                box-sizing: border-box;
            }

            /* Set a style for all buttons */
            button {
                background-color: #4CAF50;
                color: white;
                padding: 14px 20px;
                margin: 8px 0;
                border: none;
                cursor: pointer;
                width: auto;
            }

            button:hover {
                opacity: 0.8;
            }

            /* Extra styles for the cancel button */
            .cancelbtn {
                width: auto;
                padding: 10px 18px;
                background-color: #f44336;
            }

            /* Center the image and position the close button */
            .imgcontainer {
                text-align: center;
                margin: 24px 0 12px 0;
                position: relative;
                
            }

            img.avatar {
                width: 40%;
                border-radius: 50%;
            }

            .container {
                padding: 16px;
            }

            span.psw {
                float: right;
                padding-top: 16px;
            }

            /* The Modal (background) */


            /* Modal Content/Box */
            .modal-content {
                background-color: #fefefe;
                margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
                border: 1px solid #888;
                width: 50%; /* Could be more or less, depending on screen size */
            }

            /* The Close Button (x) */
            .close {
                position: absolute;
                right: 25px;
                top: 0;
                color: #000;
                font-size: 35px;
                font-weight: bold;
            }

            .close:hover,
            .close:focus {
                color: red;
                cursor: pointer;
            }

            /* Add Zoom Animation */
            .animate {
                -webkit-animation: animatezoom 0.6s;
                animation: animatezoom 0.6s
            }

            @-webkit-keyframes animatezoom {
                from {-webkit-transform: scale(0)} 
                to {-webkit-transform: scale(1)}
            }

            @keyframes animatezoom {
                from {transform: scale(0)} 
                to {transform: scale(1)}
            }

            /* Change styles for span and cancel button on extra small screens */
            @media screen and (max-width: 300px) {
                span.psw {
                    display: block;
                    float: none;
                }
                .cancelbtn {
                    width: 100%;
                }
            }
            /* Clear floats */
            .clearfix::after {
                content: "";
                clear: both;
                display: table;
            }
        </style>
	
</html>